<nav class="navbar navbar-expand-sm navbar-light bg-primary">
 <a class="navbar-brand text-white" href="#">
 <h3>HOME</h3>
 </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent" ariaexpanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
</button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav mr-auto">
 <li class="nav-item">
 <a class="nav-link text-white" href="#" routerLink="/all">USER_DATA</a>
 </li>
 <li class="nav-item">
 <a class="nav-link text-white" href="#" routerLink="/signup">SignUP-Form</a>
 </li>
 <li class="nav-item">
 <a class="nav-link text-white" href="#" routerLink="/login">LoGin-Form</a>
 </li>
 </ul>
 </div>
</nav>
<h1></h1>
<h3 align="center">Home Page Is Working!</h3>
<router-outlet></router-outlet>
