<div align="center">
 <h1>Reactive Drive Forms</h1>
 <hr>
 <form [formGroup]="myform" (ngSubmit)="onRegisterClick()">
 First Name:
 <input type="text" formControlName="firstname">
 <span class="error"
 *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname.errors.required">
 Firstname can't be blank
 </span>
 <span class="error"
 *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname.errors.minlength">
 Min: 5 characters
 </span>
 <span class="error"
 *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname.errors.maxlength">
 Max:20 characters
 </span>
 <span class="error"
 *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname.errors.pattern">
 Alphabets only allowed
 </span>
 <br><br>
 Last Name:
 <input type="text" formControlName="lastname">
 <span class="error"
 *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname.errors.required">
 Lastname can't be blank
 </span>
 <span class="error"
 *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname.errors.minlength">
 Min: 5 characters
 </span>
 <span class="error"
 *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname.errors.maxlength">
 Max: 20 characters
 </span>
 <span class="error" *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname.errors.pattern">
Alphabets only allowed
 </span>
 <br><br>
 Country:
 <select formControlName="country">
 <option>Please Select</option>
 <option>India</option>
 <option>USA</option>
 <option>UK</option>
 <option>Japan</option>
 </select>
<span class="error"*ngIf="myform.controls.country.touched && myform.controls.country.invalid && myform.controls.country.errors.required">
 Please Select Country
 </span>
 <br><br>
 <input class ="btn btn-success" type="submit" value="SignUP" ><br>
 <div [innerHTML]="msg"></div>
 </form>
</div>

